@using Cameyo.SamlPoc.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Log in using local account or automatically selected SAML IdP.</h4>
                <hr />
                <p>
                    To login using local account you need to @Html.ActionLink("register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) your user first. Please use any email domain barring those specified below.
                </p>
                <p>
                    To SSO with SAML Identity Providers enter external user email only (leave password field blank) and click Log in. 
                    It can be any valid email having domain of certain IdP. 
                    You do not need to register user beforehand as he will be registered automatically.
                </p>
                <p>Partner Identity Providers user email domains:</p>
                <ul>
                    @foreach (SamlIdentityProvider idp in ViewBag.IdentityProviders)
                    {
                        <li>
                            @idp.Description
                            <ul>
                                @foreach (EmailDomain domain in idp.RegisteredDomains)
                                {
                                    <li>
                                        @domain.Domain
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" }) 
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" }) (e.g.mytest@kentor.com)
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" }) 
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" }) (leave blank for SAML SSO)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
    <section>  @*Login via Additional IdP*@
        <h4>Or login using IdP login button</h4>
        <hr />
        <a href="@Url.Action("Login", "SAML", new { domain = "agf.fr" })">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/OpenAM-web-transparent.png"/>
        </a>
    </section>
    @*<section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}