@model MvcExampleIdentityProvider.Models.LoginModel

@{
    ViewBag.Title = "Identity Provider Login";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#" + "@Html.IdFor(m => m.Password)").focus();
        });
    </script>
}

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h1>Login to the Cone Identity Provider</h1>
	<table border="0">
		<tr>
			<td>
				<p>User name:</p>
			</td>
			<td>
				@Html.TextBoxFor(m => m.UserName)
			</td>
		</tr>
		<tr>
			<td>
				<p>Password:</p>
			</td>
			<td>
				@Html.PasswordFor(m => m.Password)
			</td>
		</tr>
		<tr>
			<td colspan="2">
                <input type="submit" value="Login" />
			</td>
		</tr>
	</table>
}
</section>

